body {
  background-image: url("/assets/fire.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: cover;
}

.error{
  position: fixed;
  font-size: 50px;
  font-family: monospace;
  color: ghostwhite;
  top: 200px;
  left: 170px;
}

.btn_bar{
  position: fixed;
  width: 600px;
  margin-left: 320px;
  top: 370px;
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: lightslategray;
  border: darkgray solid 2px;
  border-radius: 25px;
  width: 150px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

a {
  color: black;
  text-decoration: none;
  font-family: monospace;
  font-size: 15px;
}